span.highlight { background-color: yellow !important; color: #000 !important; display: inline !important;}
a.highlight {background-color: yellow !important; color: #000 !important;}

.nts-feed {
	font-family: Georgia, times, serif;
	letter-spacing: 1px; padding: 0; margin: 0;

}

.nts-feed .nothing-here {
	padding-left: 1.2em;
}

.nts-feed .nts-notes ul {
	padding: 0; margin: 0;
}

.nts-feed .nts-notes .nts-note {
	
	position: relative;
	background: #eee; list-style: none;
	padding: 1em 1em 1em 3em; margin: 1em;
	border-bottom: 1px solid #ccc;    overflow:hidden;
}

.nts-feed .nts-notes .nts-note:before {
   content:"";
   position:absolute;
   top:0;
   left:0;
   border-width:0 24px 24px 0;
   border-style:solid;
   border-color:#fff #fff #ccc #ccc;
   -webkit-transform: rotate(-90deg);
   background:#ccc;
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block; width:0; /* Firefox 3.0 damage limitation */
}

.nts-feed .nts-notes .nts-note ul.menu,
.nts-feed .nts-notes .nts-note ul.menu li {
	display: inline; width: auto; padding: 0; margin: 0;
}

.nts-feed .nts-notes .nts-note .delete {
	display: none; position: absolute; right: 1em; top: 0;
}

.nts-feed .nts-notes .nts-note:hover .delete {
	display: block;
}

.nts-feed h1 {
	font-size: 1.2em;
	padding-top: 0.5em; margin-left: 0em; padding-left: 1.2em; padding-bottom: 0.5em;
	border-bottom: 1px solid #ccc; font-variant: small-caps; letter-spacing: 2px;
	background: #000; color: #fff; font-weight: normal;
}

.nts-feed h2 {
	font-size: 1.2em; font-style: small-caps;
	margin-bottom: 0px; padding-bottom: 0;
} 

.nts-feed h2 + p {
	margin-top: 5px; font-size: 12px;
}

.nts-feed a:link,
.nts-feed a:visited {
	color: blue; text-decoration: none;
}

.nts-feed a:hover,
.nts-feed a:active {
}

.nts-feed h2 a:link,
.nts-feed h2 a:visited {
	color: #000;
}


.nts-feed a.link:link,
.nts-feed a.link:visited {
	text-decoration: underline;
}


